div{
    background-color:tomato;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    text-align: center;
    background-color: beige;
}
table{
    align-items: center;
}