* {
    box-sizing: border-box;
  }
  
  html {
      background-color: red;
    font-family: sans-serif;
  }
  
  table {
    width: 100%;
    border: 1px solid black;
    background-color:grey;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 0.5rem;
  }
  
  th span {
    margin-right: 1rem;
  }
  
  input {
    -webkit-appearance: none;
    border: 1px solid gray;
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    background:skyblue ;
  }
  
  .pagination {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0.5rem;
  }
  button{background-color:peru;}
  p{text-align: center;}
h1,h2{text-align: center;}